{
	"chan": "##.test",
    "ranks": [],
    "users": {},
    "questions": [
        {
            "answer": ["dimecadmium","wibble","i am"],
            "question": "Who is da boss?"
        }
    ]
}
