[erebus]
realname = Erebus r1
host = irc.quakenet.org
port = 6667

dbhost = localhost
dbuser = erebus
dbpass = darkness
dbname = erebus

trigger = !

[autoloads]
control = 1
eval = 0

[trivia]
jsonpath = /bla/foo/bar/modules/contrib/trivia/trivia.json.example
con = twitter consumer
con_sec = twitter consumer secret
token = twitter token
token_sec = twitter token secret

